.content {
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;

    
}
.content .header,.grid-card {
    width: 50%;
    position: relative;
}
.content .header{
    padding: 20px;
}
.content .header h3{
    font-size: 2.3rem;
    letter-spacing: 2px;
}
.content .header h3 i {
    color: orange;
}
.content .header h1{
    font-size: 5rem;
}
.content .header p{
    opacity: .6;
}
.grid-card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    
}
.grid-card .box{
    width: 100%;
    height: 230px;
    background-position: center;
    background: cover;
    border-radius: 25px;
    position: relative;
    transition: .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.bg1{
    background-image:url(https://scontent.fkkc3-1.fna.fbcdn.net/v/t39.30808-6/400437558_656856663293842_4721225345731222800_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGuGM_j6Oc0fAAUMZ9kqoL23X2CnQwWjqfdfYKdDBaOpwJOcJyRtmhH7WxesadNposr3dsaJm-UxHwkB7DbEI1x&_nc_ohc=_rI86PO4AWUQ7kNvgFcFWFo&_nc_ht=scontent.fkkc3-1.fna&oh=00_AYDUYXl6d47hKCzqHcIbgtuTtt3Z6SB2g-jVPh-1gvLSKg&oe=66A84138);
}
.bg2{
    background-image: url(https://mpics.mgronline.com/pics/Images/557000013850702.JPEG);
}
.bg3{
    background-image: url(https://live.staticflickr.com/1841/29522283257_bb19a2e036_z.jpg);
}
.bg4{
    background-image: url(https://km.rdpb.go.th/Content/uploads/images/4--%E0%B8%AD%E0%B8%B8%E0%B9%82%E0%B8%A1%E0%B8%87%E0%B8%84%E0%B9%8C%E0%B8%9C%E0%B8%B1%E0%B8%99%E0%B8%99%E0%B9%89%E0%B8%B3%E0%B8%A5%E0%B8%B3%E0%B8%9E%E0%B8%B0%E0%B8%A2%E0%B8%B1%E0%B8%87%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B9%8C.JPG) ;
}
.content .box h2{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #ffc400;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 18px;
}
.content .box:hover{
    transform: translateY(-15px);

}
.header button{
    border: solid 1px #000000;
    background: none;
    color: #000000;
    font-size: 2.5rem;
    padding: 5px 15px;
    margin: 15px 0;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header button:hover{
    background: black;
    color: orange;
    transform: translateY(-10px);

}
